[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
tweepy = "*"
pandas = "*"
tabulate = "*"
fastapi = "*"
gunicorn = "*"
requests = "*"
flask = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
